


header{
    background: #84A178;
}


.nav-link{
    color: #FCFCFC;
    transition: 0.3s linear;
}
.nav-link:hover{
    color: #F8D24E;
}
.nav-link:active{
    color: #0A8817;
    transition: 0s;
}
.nav-link:disabled{
    color: #ABABAB;
}