

@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@700&family=Seymour+One&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #131313;

    /* font-family: 'Inter', sans-serif;    
    font-family: 'Roboto', sans-serif;
    font-family: 'Seymour One', sans-serif; */
}

.container{
    max-width: 1200px !important;
    padding: 0 15px;
    margin: 0 auto;
}

.hidden{
    display: none !important;
}


.bttn-bg{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: nowrap;

    padding: 12px 34px;
    font-weight: 600;
    background: #F8D24E;
    border-radius: 10px;
    transition: 0.3s linear;
}
.bttn-bg span,
.bttn span{
    transition: 0s;
}
.bttn-bg svg{
    stroke: black;
    transition: 0s;
}
.bttn-bg:hover{
    background: #0A8817;
}
.bttn-bg:active span{
    color: #fff;
    transition: 0s;
}
.bttn-bg:active svg{
    stroke: #fff;
    transition: 0s;
}
.bttn-bg:disabled{
    background: #ABABAB;
}
.bttn-bg:disabled span{
    color: #000;
    transition: 0s;
}
.bttn-bg:disabled svg{
    stroke: #000;
    transition: 0s;
}



.bttn {
    color: black;
    font-weight: 600;
    padding: 12px 34px;
    border: 2px solid #F8D24E;
    background: transparent;
    border-radius: 10px;

    transition: 0.3s linear;

    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: nowrap;
}
.bttn:hover{
    border: 2px solid #0A8817;
}
.bttn:active{
    border: 2px solid #0A8817;
    color: #fff;
    transition: 0s;
}
.bttn:disabled{
    border: 2px solid #ABABAB;
    color: #000;
}
.bttn svg{
    stroke: black;
    transition: 0s;
}
.bttn:active span{
    color: #fff;
    transition: 0s;
}
.bttn:active svg{
    stroke: #fff;
    transition: 0s;
}
.bttn:disabled svg{
    stroke: #000;
    transition: 0s;
}



.bttn-link {
    color: #F8D24E;
    text-decoration: underline;
    font-weight: 600;

    transition: 0.3s linear;
}
.bttn-link:hover{
    color: #0A8817;

}
.bttn-link:active{
    color: #FCFCFC;
    transition: 0s;   
}
.bttn-link:disabled{
    color: #ABABAB;   
}



.bttn-arrow{
    display: flex;
    width: 52px;
    height: 24px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}
.bttn-arrow span{
    position: relative;
    display: block;
    width: 40px;
    height: 2px;
    transition: 0.3s linear;
}
.bttn-arrow span::after, .bttn-arrow span::before{
    content: '';
    position: absolute;
    right: 2px;
    width: 2px;
    height: 10px;
}
.bttn-arrow span::after{
    top: -1px;    
    transform: rotate(45deg);
}
.bttn-arrow span::before{
    bottom: -1px;
    transform: rotate(-45deg);
}
.bttn-arrow:hover span{
    width: 50px;
}
.bttn-arrow:active span{
    width: 50px;
    height: 3px;
}
.bttn-arrow:active span::after, .bttn-arrow:active span::before{    
    width: 3px;
    height: 12px;
}
.bttn-arrow--black span{
    background: #131313;
}
.bttn-arrow--black span::after, .bttn-arrow--black span::before{
    background: #131313;
}
.bttn-arrow--white span{
    background: #fff;
}
.bttn-arrow--white span::after, .bttn-arrow--white span::before{
    background: #fff;
}


.products .title,
.how-made .title{
    font-family: 'Seymour One';
    font-style: normal;
}
.products .title span,
.how-made .title span{
    font-family: 'Montserrat';
    font-style: normal;   
}

